@import "../../styles/variabels";

$lineHeight: 1.2;
$lines: 5;
$fontSize: 14;

.algolia {
  padding: 0 10px;
  border-radius: 4px;
  margin-top: 25px;

  em {
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
  }

  &-question {
    h3 {
      color: $primaryColor;
      margin: 10px 0;
      font-size: 2rem;
      display: inline-block;
    }
  }

  &-tags .one-tag {
    display: inline-block;
    margin: 0 5px;
    background: $tagsBgColor;
    padding: 5px 10px;
    border-radius: 4px;
  }

  &-category {
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  &-answer {
    font-size: 16px;
    display: block;
    display: -webkit-box;
    height: auto;
    overflow: hidden;
    //height: $fontSize*$lineHeight*$lines+5+px;
    //line-height: $lineHeight;
    //-webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 5px;
    margin-bottom: 5px;
  }
}