<div class="container-fluid login">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1 class="text-center">{{ $ctrl.name | translate}}</h1>

      <form
        name="loginForm"
        sf-schema="$ctrl.schema"
        sf-model="$ctrl.user">
      </form>

      <div class="checkbox">
        <label>
          <input type="checkbox"> {{'REGISTRATION.REMEMBER' | translate }}
        </label>
      </div>

    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login-actions">
      <button
          type="button"
          class="button button-primary button-full"
          ng-disabled="loginForm.$invalid"
          ng-click="$ctrl.login(loginForm, $ctrl.user)">
        {{"BUTTON.SIGNIN" | translate}}
      </button>

      <div class="row">
        <div class="col-md-6">
          <button class="button button-full" ng-click="$ctrl.forgot()">
            {{"BUTTON.FORGOT" | translate}}
          </button>
        </div>
        <div class="col-md-6">
          <button class="button button-full" ui-sref="registration">
            {{"BUTTON.REGISTRATION" | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
