<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1 class="text-center">{{ $ctrl.name | translate}}</h1>

      <form
          name="resetPassForm"
          sf-schema="$ctrl.schema"
          sf-model="$ctrl.newPass">
      </form>

    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button
          type="button"
          class="button button-primary button-full"
          ng-disabled="loginForm.$invalid"
          ng-click="$ctrl.save(resetPassForm, $ctrl.newPass)">
        {{'BUTTON.RESET_PASSWORD' | translate}}
      </button>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
