$fontSize:                1.4rem;
$fontLg:                  2.4rem;
$fontSm:                  1.2rem;

$bgColor:                 #fff;
$contentPadding:          20px 0;
$primaryColor:            #4aa3df;

$darkTextColor:           #212121;
$lightTextColor:          #f8f8f8;
$darkGreyTextColor:       #6f6f6f;
$greyTextColor:           #808080;
$lightGreyTextColor:      #bfbfbf;

$dividerColor:            #e3e3e3;
$dividerDarkColor:        #212121;

$navbar-width:            60px;
$navbarBg:                #2b343f;
$navbarActive:            #3a92d9;
$navbarColor:             #bab9ba;

$spinnerSize:             80px;

//buttons
$buttonBorderRadius:      4px;
$buttonBg:                $primaryColor;
$buttonColor:             $lightTextColor;
$iconButtonsSize:         40px;
$iconButtonsColor:        $darkGreyTextColor;
$buttonFontSize:          1.9rem;

//tree
$teeLangWidth:            150px;
$teeAuthorWidth:          150px;
$teeUpdatedWidth:         200px;
$treeCollapseMargin:      20px;


$tagsBgColor: #dddddd;

$fonLg: 40px;

