<navbar></navbar>
<div class="content-wrapper users">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <h1 class="pull-left">{{$ctrl.name | translate}}</h1>
      </div>
      <div class="col-md-1">
        <button class="button button-primary pull-right"
                ng-click="$ctrl.create()"
                permission
                permission-except="'user'">
          {{'BUTTON.ADD' | translate}}
        </button>
      </div>
    </div>

    <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
      <colgroup>
        <col width="45%"/>
        <col width="30%"/>
        <col width="10%"/>
        <col width="15%"/>
      </colgroup>
      <tr ng-repeat="user in $data">
        <td title="'USERS.USER_NAME' | translate" sortable="'first_name'">
          <i class="fa fa-user-times"
             aria-hidden="true"
             tooltip-placement="up"
             uib-tooltip="{{'USERS.DISABLED' | translate}}"
             ng-if="user.status == 'DISABLED'"></i>
          {{user.fullName}}
        </td>
        <td title="'USERS.EMAIL' | translate" sortable="'email'">
          {{user.email}}
        </td>
        <td title="'USERS.ROLE' | translate" sortable="'roleName'">
          {{user.roleName}}
        </td>
        <td title="" class="text-center" >
          <!-- start Action btn -->
          <button class="icon-button"
                  ng-click="$ctrl.edit(user)"
                  tooltip-placement="up"
                  uib-tooltip="{{'USERS.USER_NAME' | translate}}"
                  permission
                  permission-except="'user'">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button class="icon-button"
                  ng-if="user.status == 'ENABLED'"
                  ng-click="$ctrl.disabled(user, 0)"
                  tooltip-placement="up"
                  uib-tooltip="{{'USERS.DISABLE' | translate}}"
                  permission
                  permission-except="'user'">
            <i class="fa fa-user-times" aria-hidden="true"></i>
          </button>

          <button class="icon-button"
                  ng-if="user.status == 'DISABLED'"
                  ng-click="$ctrl.disabled(user, 1)"
                  tooltip-placement="up"
                  uib-tooltip="{{'USERS.ENABLE' | translate}}"
                  permission
                  permission-except="'user'">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>

          <button class="icon-button"
                  ng-click="$ctrl.remove(user.id)"
                  tooltip-placement="up"
                  uib-tooltip="{{'USERS.REMOVE' | translate}}"
                  permission
                  permission-except="'user'">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <!-- end Action btn -->
        </td>
      </tr>
    </table>
  </div>
</div>
