<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.name | translate}}</h3>
</div>

<div class="modal-body choose-subdomain-modal" id="modal-body">
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
      <div class="row" ng-repeat="item in $ctrl.subdomains">
        <div class="col-md-9 title">{{item.name}}</div>
        <div class="col-md-3">
          <button class="icon-button pull-right"
                  ng-click="$ctrl.choose(item.code)">
            <i class="fa fa-share"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="button" ng-click="$ctrl.cancel()">
    {{'BUTTON.CANCEL' | translate}}
  </button>
</div>
