@import "../../styles/variabels";
.settings{
  &-content{
    min-height: 100%;

    &:after {
      content: " ";
      border-left: 1px solid $dividerDarkColor;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
    }
  }



}
