<div class="maincontent"> <!--.maincontent-->
    <div class="login-box-body"><!--.login-box-body-->
        <img ng-src="{{$ctrl.user.avatar_url}}" alt="" class="userAvatar pull-left">

        <button class="btn-lg btn-blue pull-right"><!--.btn-lg .btn-blue .pull-right-->
            <a target="_blank" ng-href="https://useractivity.herokuapp.com/"
               ng-click="$ctrl.EventHandlers('User click on the link Go to user activity')">Go
                to user activity
            </a><!--link 'Go to user activity'-->
        </button><!--.btn-lg .btn-blue .pull-right-->

        <span ng-click="$ctrl.EventHandlers('User click on the button Sign out')">
            <input type="button"
                   class="btn-lg btn-blue pull-right"
                   value="Sign out"
                   ng-click="$ctrl.signOut()">
        </span><!--.btn-lg .btn-blue .pull-right  button 'Sign out'-->

        <h2>Repositories</h2>

        <div class="table-responsive"><!--.table-responsive-->
            <table class="users table-responsive" cellspacing="5"><!--.users .table-responsive-->

                <tr ng-repeat="repo in $ctrl.repos"><!--List of repositories-->
                    <td ng-init="$ctrl.getRepoIssues(repo)">
                        <p tooltip-placement="right"
                           uib-tooltip-html="'name:{{repo.name}}<br>Language:{{repo.language}}'">
                            <span ng-mouseover="$ctrl.EventHandlers('Mouse Over:' + repo.name)">{{repo.name}}</span>
                        </p>
                        <ul ng-repeat="issue in repo.issues" ng-show="Showissue"><!--List of issues-->
                            <li>
                                <a target="_blank"
                                   ng-click="$ctrl.EventHandlers('User click on the link ' + issue.title)"
                                   ng-href="{{issue.html_url}}">{{issue.title}}</a>
                            </li>
                        </ul><!--List of issues-->
                    </td>
                    <td>
                        <span ng-click="$ctrl.EventHandlers('User click on the button Show issues №' + $index)"><!--button 'Show issues'-->
                            <input type="button" value="Show issues" ng-click="Showissue = !Showissue" class="btn btn-info">
                        </span><!--button 'Show issues'-->
                    </td>
                </tr><!--List of repositories-->

            </table><!--.users .table-responsive-->
        </div><!--.table-responsive-->

    </div><!--.login-box-body-->
</div> <!--.maincontent-->