<navbar></navbar>

<div class="content-wrapper category">

  <div class="col-md-2 category-left-sidebar">
    <div class="category-actions">
      <button type="button"
              class="button button-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fa fa-plus"></i>
        {{'BUTTON.ADD' | translate}}
      </button>
      <ul class="dropdown-menu">
        <li ng-if="$ctrl.tree.parent_id == 0 || $ctrl.tree.parent_id == 1">
          <a href='#'
             ng-click="$ctrl.createCategory()"
             role-accesses
             invisible-for="['contributor']">
            {{$ctrl.currentCategory == 1 ? 'CATEGORY.CREATE_CATEGORY': 'CATEGORY.CREATE_SUBCATEGORY' | translate}}
          </a>
        </li>
        <li>
          <a ui-sref="admin.createFaq({categoryId: $ctrl.currentCategory})">
            {{'FAQ.CREATE' | translate}}
          </a>
        </li>
      </ul>
    </div>
    <type-of-questions></type-of-questions>
  </div>

  <div class="col-md-10 category-content">
    <div class="container-fluid">

      <div class="row category-title">
        <div class="col-md-12">

          <h1>{{$ctrl.currentCategory == 1 ? ($ctrl.name | translate) : $ctrl.tree.name}}</h1>

          <breadcrumbs home="'DASHBOARD.HOME'" current="$ctrl.currentCategory"></breadcrumbs>

        </div>
      </div>

      <category-tree tree="$ctrl.tree" article-type="$ctrl.articleType"></category-tree>

    </div>
  </div>

</div>
