<div class="container-fluid changePassword">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="header">
        <h3 class="settings-title-active">{{'SETTINGS.PASSWORD' | translate}}</h3>
        <p class="setting-description">{{'SETTINGS.CHANGE_PASSWORD' | translate}}</p>
      </div>
      <div class="content">
        <form
          name="changePasswordForm"
          sf-schema="$ctrl.schema"
          sf-model="$ctrl.newPassword">
        </form>
      </div>
      <div class="footer">
        <button class="button button-primary"
                ng-disabled="changePasswordForm.$invalid"
                ng-click="$ctrl.save(changePasswordForm, $ctrl.newPassword)">
          {{'BUTTON.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
